vdocdb
vdocuploads
vdrone
vnexus
vgitea
vgiteadb
vwiki-db
vghost
vth-api-file-upload

docker-compose.yaml

*.log
vnginx/*
!vnginx/htpasswd
vnginx/htpasswd/loki
!vnginx/nginx
vnginx/nginx/*
!vnginx/nginx/nginx.conf
!vnginx/nginx/site-confs
.idea
